* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #848484;
    --secondary-color: #83eeff;
    --tertiary-color: #000000;
    --color-palette1: #b8e6ed;
    --color-palette2: #125e9c;
    --color-palette3: #dbe0e2;
    --color-palette4: #aaacac;
    --border-style1: 5px double #1c91f0;
    --border-style2: 5px solid #91ccfc;
    --border-style3: 5px ridge #1c91f0;
    --font-size: 24px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--color-palette2);
    font-family: Garamond, serif;
}

header,
.center-container,
footer {
    /* layout border lines */
    /* border: 1px solid red; */
    background-color: rgb(241, 241, 241);
}


/* global styles */

header, footer {
    background-image: linear-gradient(353deg, var(--primary-color), #ffffff3d);
}

main {
    margin: 15px 0;
    flex-grow: 1;
}

.center-container {
    height: auto;
    width: 100%;
    background-color: var(--color-palette3);
    border: var(--border-style3);
}

.create-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer {
    padding: 20px;
    border-top: var(--border-style2);
    text-align: center;
    font-size: var(--font-size);
}

/* header  */
.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: var(--border-style2);
}

.logo {
    margin: 0 15px;
    padding: 8px;
    border: var(--border-style1);
    color: var(--color-palette2);
    background-color: #ffffff00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button .material-symbols-outlined {
    font-size: calc(var(--font-size) + 1rem);
}

.header.create-list-btn {
    width: 90px;
}

.header.create-list-btn button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: calc(var(--font-size) + 50px);
}

/* homepage */

.home-page.empty button {
    padding: 15px;
    font-size: 21px;
    border: var(--border-style3);
    background-color: var(--color-palette1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-page.empty button:hover {
    color: rgb(2, 143, 0);
    background-color: aqua;
}

.home-page {
    height: 100%;
    min-height: 300px;
    
}

.home-page.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-box {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: var(--color-palette1);
    border: 1px solid black;
    cursor: pointer;
}

.todo-box:nth-child(2n) {
    background-color: var(--secondary-color);
}

.todo-box:hover {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
}

.todo-box h2 {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    border: var(--border-style);
    padding: 15px 5px;
}

.todo-box i {
    margin-left: auto;
    padding: 15px;
    font-size: 40px;
    cursor: pointer;
}

.filled {
    font-variation-settings: 
        'FILL' 1
    ;
}

/* listpage styles */

.list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-options {
    display: flex;
    width: 100%;
    padding: 5px;
    
}

.list-options :nth-child(2) {
    margin-left: auto;
    margin-right: 50px;
}

.list-options i {
    font-size: calc(var(--font-size) + 2rem);
}

.list-options div {
    cursor: pointer;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 15px;
    padding: 20px;
    background-color: var(--color-palette1);
    border: var(--border-style3);
}

.todo-title {
    text-align: center;
}

.list {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    padding-left: 29px;
    font-size: var(--font-size);
    border-bottom: var(--border-style2);
    list-style: none;
    overflow-wrap: anywhere;
}

.list::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(./imgs/check_box_empty.png);
    background-size: cover;
    background-position: center;
    left: 0;
}

.delete-btn {
    margin-left: auto;
    cursor: pointer;
}

.list.checked {
    text-decoration: line-through;
    
}

.list.checked::before {
    background-image: url(./imgs/check_box.png);
} 

.remove-btn {
    margin: auto 0 auto auto;
    cursor: pointer;
}

.date-container {
    display: flex;
    justify-content: center;
}

/* create list menu */

.create-list-page > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.create-name label, .create-list > label {
    font-size: calc(var(--font-size) + 0.5rem);
}

.create-name input[type=text], .create-list input[type=text] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.create-list input[type=text] {
    padding-right: 60px;
}

.list-input-container {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.list-input-container button {
    position: absolute;
    display: block;
    width: 44px;
    height: 100%;
    right: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.list-input-container button:hover {
    background-color: gainsboro;
}

.created-list-container {
    width: 85%;
    padding: 20px;
    border: 1px solid var(--border-color);
}

.created-list-container .list {
    display: flex;
    align-items: center;
}

.created-list-container button {
    margin-left: auto;
}

.submit-cancel-container {
    display: block !important;
    text-align: center;
}

.submit-cancel-container button {
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-family: monospace;
    font-size: var(--font-size);
    border: 1px solid black;
    margin: 0 15px;
}

.submit-cancel-container button:hover {
    opacity: 0.6;
}

#submit {
    background-color: #0ff50f;
}

#cancel {
    background-color: red;
}


@media screen and (min-width: 750px) {
    .center-container {
        width: 95%;
        margin: 0 auto;
    }
}

@keyframes color {
    0% {
        background-color: rgb(19, 129, 255);
    }
    100% {
        background-color: rgb(40, 109, 189);
    }
}